$color-black: hsl(0, 0%, 5%);
$color-color: hsl(0, 0%, 100%);

$color-html: hsl(15, 100%, 60%);
$color-css: hsl(200, 100%, 60%);
$color-scss: hsl(300, 100%, 60%);
$color-js: hsl(60, 100%, 60%);
$color-boot: hsl(220, 100%, 60%);
$color-c_: hsl(110, 100%, 60%);
$color-c: hsl(180, 100%, 60%);
$color-python: hsl(0, 100%, 60%);
$color-react: hsl(145, 100%, 60%);
$color-node: hsl(41, 100%, 60%);

$porcent-html: 95;
$porcent-css: 85;
$porcent-scss: 70;
$porcent-js: 80;
$porcent-boot: 85;
$porcent-c_: 75;
$porcent-c: 65;
$porcent-python: 70;
$porcent-react: 10;
$porcent-node: 3;

@function strokeDashoffset($num) {
  @return 440 - (440 * $num) / 100;
}

.skills{
    h1{
        display: flex;
        justify-content: center;
        background: $color-black;
        padding: 0.5em;
        font-size: 2rem;
        color: rgb(218, 236, 230);
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 0;
        filter: drop-shadow(0 0 10px $color-html);
    }
}

.container_skills {
   margin-top: 10px; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-black;
}

.container__progressbars {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-width: 270px;
  width: 100%;
  min-height: 100%;
}

.progressbar {
  position: relative;
  width: 170px;
  height: 170px;
  margin: 1em;
  transform: rotate(-90deg);
}

.progressbar__svg {
  position: relative;
  width: 100%;
  height: 100%;
}

.progressbar__svg-circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke: hsl(0, 0%, 100%);
  stroke-linecap: round;
  transform: translate(5px, 5px); // stroke-width / 2
}

.shadow {
  &-html {
    filter: drop-shadow(0 0 5px $color-html);
  }
  &-css {
    filter: drop-shadow(0 0 5px $color-css);
  }
  &-scss {
    filter: drop-shadow(0 0 5px $color-scss);
  }
  &-js {
    filter: drop-shadow(0 0 5px $color-js);
  }
  &-boot {
    filter: drop-shadow(0 0 5px $color-boot);
  }
  &-c_ {
    filter: drop-shadow(0 0 5px $color-c_);
  }
  &-c {
    filter: drop-shadow(0 0 5px $color-c);
  }
  &-python {
    filter: drop-shadow(0 0 5px $color-python);
  }
  &-react {
    filter: drop-shadow(0 0 5px $color-react);
  }
  &-node {
    filter: drop-shadow(0 0 5px $color-node);
  }
}

.circle {
  &-html {
    animation: anim_circle-html 1s ease-in-out forwards;
  }
  &-css {
    animation: anim_circle-css 1s ease-in-out forwards;
  }
  &-scss {
    animation: anim_circle-scss 1s ease-in-out forwards;
  }
  &-js {
    animation: anim_circle-js 1s ease-in-out forwards;
  }
  &-boot {
    animation: anim_circle-boot 1s ease-in-out forwards;
  }
  &-c_ {
    animation: anim_circle-c_ 1s ease-in-out forwards;
  }
  &-c {
    animation: anim_circle-c 1s ease-in-out forwards;
  }
  &-python {
    animation: anim_circle-python 1s ease-in-out forwards;
  }
  &-react {
    animation: anim_circle-react 1s ease-in-out forwards;
  }
  &-node {
    animation: anim_circle-node 1s ease-in-out forwards;
  }
}

.progressbar__text {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0.25em 0.5em;
  color: hsl(0, 0%, 100%);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0.25em;
  transform: translate(-50%, -50%) rotate(90deg);
}

//  @keyframes

@keyframes anim_circle-html {
  to {
    stroke-dashoffset: strokeDashoffset($porcent-html);
  }
}

@keyframes anim_circle-css {
  to {
    stroke-dashoffset: strokeDashoffset($porcent-css);
  }
}

@keyframes anim_circle-scss {
  to {
    stroke-dashoffset: strokeDashoffset($porcent-scss);
  }
}

@keyframes anim_circle-js {
  to {
    stroke-dashoffset: strokeDashoffset($porcent-js);
  }
}

@keyframes anim_circle-boot {
  to {
    stroke-dashoffset: strokeDashoffset($porcent-boot);
  }
}

@keyframes anim_circle-c_ {
  to {
    stroke-dashoffset: strokeDashoffset($porcent-c_);
  }
}

@keyframes anim_circle-c {
  to {
    stroke-dashoffset: strokeDashoffset($porcent-c);
  }
}

@keyframes anim_circle-python {
  to {
    stroke-dashoffset: strokeDashoffset($porcent-python);
  }
}

@keyframes anim_circle-react {
  to {
    stroke-dashoffset: strokeDashoffset($porcent-react);
  }
}
@keyframes anim_circle-node {
  to {
    stroke-dashoffset: strokeDashoffset($porcent-node);
  }
}
